<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="stylesheets/markdown.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Practical Kinetics</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Practical Kinetics</h1>
          <h2>a Python-based tutorial on chemical kinetics</h2>
        </header>
        <section id="main_content">


@PLACEHOLDER



        <footer>
          These tutorials were created by <a href="http://people.fas.harvard.edu/~ekwan">Eugene Kwan</a>
          in collaboration with <a href="http://people.fas.harvard.edu/~minotti">Eric Jacobsen</a>
          and C. Rose Kennedy.<br>
        </footer>

      </div>
    </div>
  </body>
</html>
